<!DOCTYPE html>
<html>
    <head>
        <title>HomePage</title>
        {% include "header.html" %}
    </head>
    <body>
        <div class="mx-auto" style="width: 900px; margin-top: 30px;">
            <h1>Welcome Back {{username}}</h1>
            {% include "navbar.html" %} 
            <h2 style="margin-bottom: 2.5%;">Newsfeed</h2>
                {% for image in images %}
                <div class="mx-auto" style="width: 600px; margin-bottom: 5%;">
                    <div class="card card-block w-auto display-block border-dark mb-3">
                        <div class="card-header"><h3>{{image.photoPoster}}</h3></div>
                        <img class="card-img" src="/images/{{image.filepath}}" alt="Card image cap">
                        <div class="card-block">
                            <p class="card-text" style="margin-left: 3%; margin-top: 2%;">{{image.caption}}</p>
                        </div>
                        <div class="card-text text-right" style="margin-right: 5%;">{{image.postingdate}}</div>
                        <div class="card-group">
                            <div class="card">
                                <div class="card-body">
                                    <form action="/commentPhoto" method="POST" class="form-inline justify-content-center">
                                        <input type="text" class="form-control" name="comment" id="comment" placeholder="Comment">
                                        <input type="hidden" name="photoID" id="photoID" value="{{image.photoID}}">
                                        <input type="hidden" name="photoPoster" id="photoPoster" value="{{image.photoPoster}}">
                                        <div class="form-row" style="margin-left:20%; margin-right: 20%; margin-top: 5%;">
                                            <input type="submit" class="btn btn-secondary" value="Comment">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card" style="width: 5%;">
                                <div class="card-body">
                                    <form action="/likePhoto" method="POST" class="form-inline justify-content-center">
                                        <div class="form-row">
                                            <div class="col-4">
                                                <input type="hidden" name="photoID" id="photoID" value="{{image.photoID}}">
                                                <input type="number" class="form-control" name="rating" id="rating" placeholder="#">
                                            </div>
                                        </div>
                                        <div class="form-row" style="margin-left:20%; margin-right: 20%; margin-top: 5%;">
                                            <input type="submit" class="btn btn-secondary" value="Like">
                                        </div>
                                    </form>
                                </div>
                            </div>     
                        </div>  
                        <div class="card-footer">
                            <input type="button" class="btn btn-link" value="Additonal Info" style="margin-left: 40%;" onclick="relocate_addInfo( {{image.photoID}} )"> 
                        </div>                                  
                    </div>
                </div>
                {% endfor %}
            </div>
        <script>
        function relocate_addInfo(photoID){ 
            location.href = "/viewInfo/" + photoID; 
        }
        </script>
    </body>
    {% include "footer.html" %}
</html>
            


