<!DOCTYPE html>
<html>
    <head>
        <title>HomePage</title>
        {% include "header.html" %}
    </head>
    <body>
        <div class="container" style="width: 1200px; margin: 0 auto;">
            <h1>Welcome Back {{username}}</h1>
            {% include "navbar.html" %} 
            <h2>Newsfeed</h2>
                {% for image in images %}
                <div class="mx-auto" style="width: 600px;">
                    <div class="card card-block w-auto display-block border-dark mb-3">
                        <div class="card-header"><h3>{{image.photoPoster}}</h3></div>
                        <img class="card-img" src="/images/{{image.photoPath}}" alt="Card image cap">
                        <div class="card-block">
                            <p class="card-text" style="margin-left: 3%;">{{image.caption}}</p>
                        </div>
                        <div class="card-text text-right" style="margin-right: 5%;">{{image.postingdate}}</div>
                        <div class="card-group">
                            <div class="card">
                                <div class="card-body">
                                    <form action="/commentPhoto"></form>
                                    <input type="text" class="form-control" name="comment" id="caption" placeholder="Comment">
                                </br>
                                    <input type="submit" class="btn btn-secondary" value="Comment" style="margin-left:25%; margin-right: 10%;">
                                    
                                    <!-- Additional Info Button -->
                                    <input type="button" class="btn btn-secondary" value="Additonal Info" onclick="relocate_addInfo( {{image.photoID}} )">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        <script>
        function relocate_addInfo(photoID){ 
            location.href = "/viewInfo/" + photoID; 
        }
        </script>
    </body>
    {% include "footer.html" %}
</html>
            


