<!DOCTYPE html>
<html>
    <head>
        <title>finstaGram</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>

    <body>
        <div class="container">
            <div id="header">
                <h1>finstaGram</h1>
            </div>
            <div id="content">
                <button type=button" class="btn btn-primary" data-toggle="modal" data-target="#RegisterModal">Register</button>
                <div class="modal" id="RegisterModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1>Register</h1>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form action="/registerAuth" method="POST">
                                    <input type="text" name = "username" placeholder="Username" required/> </br>
                                    <input type="password" name = "password" placeholder="Password" required/> </br>
                                    <input type="text" name = "firstName" placeholder="First Name" required/> </br>
                                    <input type="text" name = "lastName" placeholder="Last Name" required/> </br>
                                    <input type="text" name = "bio" placeholder="Bio" required≈/> </br>
                                    <input type="submit" value = Register />
                                    {% if error %}
                                        <p class="error"><strong>Error:</strong> {{error}}</p>
                                    {% endif %}
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div> 
                    </div>
                </div> 
                <button type=button" class="btn btn-primary" data-toggle="modal" data-target="#LoginModal">Login</button>
                <div class="modal" id="LoginModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1>Login</h1>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form action="/loginAuth" method="POST">
                                    <input type="text" name = "username" placeholder="username" required/> </br>
                                    <input type="password" name = "password" placeholder="password" required/></br>
                                    <input type="submit" value = Login />
                                    {% if error %}
                                        <p class="error"><strong>Error:</strong> {{error}}</p>
                                    {% endif %}
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div> 
                    </div>
                </div> 
            </div>
        </div>
        <footer id = "footer">Copyright &copy; 2019 Abid Rais.</footer>
    </body>
</html>
