<!DOCTYPE html>
<html>
    <head>
      <title>Manage Followers</title>
        {% include "header.html" %}
    </head>
    <body>
      <div class="mx-auto" style="width: 900px; margin-top: 30px;">
        <h1>Manage Followers</h1>
        {% include "navbar.html" %}
        {% for user in users %}
        <div class="mx-auto" style="width: 600px; margin-bottom: 5%;">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title" style="margin-bottom: 2.5%; text-align: center;">{{user.username_follower}}</h2>
              <form action="/acceptFollow" method="POST">
                <input type="hidden" name="follower" id="follower" value="{{user.username_follower}}">
                <input type="submit" class="btn btn-success" action="/acceptFollow" value="Accept Follow Request" name="Accept">
                </div>
              </form>
              <form action="/declineFollow" method="POST">
                <input type="hidden" name="follower" id="follower" value="{{user.username_follower}}">
                <input type="submit" class="btn btn-danger" action="/declineFollow" value="Decline Follow Request" name="Decline">
                </div>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body> 
  {% include "footer.html" %}
</html> 