<nav class="navbar sticky-top navbar-dark bg-dark" style="margin-bottom: 30px;">
    <a class="navbar-brand" href="home.html">Navigation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" 
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/postPhoto">Post a Photo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manageFollows">Manage Followers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/selectUser">Select a User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>