<!DOCTYPE html>
<html>
    <head>
        <title>Post a Photo</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <!-- <div class="mx-auto" style="width: 750px;"> 
            <div class="card card-block w-auto display-block border-darl mb-3">
                <div class="card-header"><h2>Post a Photo</h2></div>
                <div class="card-block">
                    <form action="/postPhoto" method="POST" enctype="multipart/form-data">
                        <div class="form-row">
                            <label for="uploadPhoto">Choose Photo</label>
                            <input type="file" class="form-control-file" name="imageToUpload" id="uploadPhoto" placeholder="Photo" accept="image/*" required/>
                        </div>
                    <div class="form-row">
                        <label for="caption">Write a caption for your image!</label>
                        <input type="text" class="form-control" name="caption" id="caption" placeholder="Caption">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Uplaod Photo"/>
                    </form>
                </div>
            </div>
        </div> -->
        
        <div class="mx-auto" style="width: 750px; margin-top: 30px;">
            <h1>Post a Photo!</h1>
            <div class="container">
                <form action="/postPhoto" method="POST" enctype="multipart/form-data">
                    <div class="form-row">
                        <label for="uploadPhoto">Choose Photo</label>
                        <input type="file" class="form-control-file" style="margin-bottom: 20px;" name="imageToUpload" id="uploadPhoto" placeholder="Photo" accept="image/*" required/>
                    </div>
                    <div class="form-row">
                        <label for="caption">Write a caption for your image!</label>
                        <input type="text" class="form-control" style="margin-bottom: 20px;" name="caption" id="caption" placeholder="Caption">
                    </div>
                    <input type="submit" class="btn btn-primary" style="margin-bottom: 20px;" value="Upload Photo"/>
                </form>
            </div>
            <a href="/home">Go Back</a>
            
        
        </div>
         
    </body>

<!-- <body>
    <h1>Upload a Photo</h1>
    <form action="/postPhoto" method="POST" enctype="multipart/form-data">
        <input type="file" name = "imageToUpload" placeholder="Photo" accept="image/*" required/> </br>
        <input type="text" name = "caption"/></br>
        <input type="submit" value = "Upload Photo" /></br>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </form>
    </br>
    </br>
    <a href="/home">Go back</a>
</body> -->