<!DOCTYPE html>
<html>
    <head>
        <title>Post a Photo</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        



    </body>

<!-- <body>
    <h1>Upload a Photo</h1>
    <form action="/postPhoto" method="POST" enctype="multipart/form-data">
        <input type="file" name = "imageToUpload" placeholder="Photo" accept="image/*" required/> </br>
        <input type="text" name = "caption"/></br>
        <input type="submit" value = "Upload Photo" /></br>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </form>
    </br>
    </br>
    <a href="/home">Go back</a>
</body> -->