<!DOCTYPE html>
<html>
    <head>
        <title>Post a Photo</title>
        {% include "header.html" %}
    </head>
    <body>
        <div class="mx-auto" style="width: 750px; margin-top: 30px;">
            <h1>Post a Photo!</h1>
            {% include "navbar.html" %}
            <div class="container">
                <form action="/postPhoto" method="POST" enctype="multipart/form-data">
                    <div class="form-row">
                        <label for="uploadPhoto">Choose Photo</label>
                        <input type="file" class="form-control-file" style="margin-bottom: 20px;" name="imageToUpload" id="uploadPhoto" placeholder="Photo" accept="image/*" required/>
                    </div>
                    <div class="form-row">
                        <label for="caption">Write a caption for your image!</label>
                        <input type="text" class="form-control" style="margin-bottom: 20px;" name="caption" id="caption" placeholder="Caption">
                    </div>
                    <div class="form-row">
                        <label for="allFollowers">Share with all Followers?</label>
                    </div>
                    <div class="form-row">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="allFollowers" id="allFollowers" value="yes">
                            <label class="form-check-label" for="allFollowers">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="allFollowers" id="allFollowers" value="no">
                            <label class="form-check-label" for="allFollowers">No</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <input type="submit" class="btn btn-primary" style="margin-bottom: 20px; margin-top: 20px;" value="Upload Photo"/>
                    </div>
                </form>
            </div>
            <a href="/home">Go Back</a>
        </div>
    </body>
    {% include "footer.html" %}
</html>