<!DOCTYPE html>
<html>
  </head>
    <title>See a User's Profile</title>
    {% include "header.html" %}
  </head>
  <body>
    <div class="mx-auto" style="width: 750px; margin-top:30px;">
        <h1>Whose Profile Would You Like to View?</h1>
        {% include "navbar.html" %}
        <form action="/showPosts" method="POST" >
          <div class="form-group col-md-4" style="margin-top: 20px;">
              <label for="selectUser">Select A User</label>
              <input type="text" name="selected_person" class="form-control" id="selectUser" placeholder="User">
          </div>
          <input type="submit" class="btn btn-primary" style="margin-top: 20px;" value="Select User"/>
        </form>
    </div>
  </body>
  {% include "footer.html" %}
</html>