<!DOCTYPE html>
<html>
    <head>
        <title>HomePage</title>
        {% include "header.html" %}
    </head>
    <body>
        <div class="container" style="width: 900px; margin-top: 30px;">
            <h1>Viewing {{person.username}}'s Profile</h1>
            {% include "navbar.html" %} 
            <div class="card" style="margin-bottom: 30px;">
                <div class="card-header">
                    <h3>{{person.firstName}} {{person.lastName}}</h3>
                </div>
                <div class="card-body">
                    {{person.bio}}
                </div>
            </div>
            {% for image in images %}
            <div class="mx-auto" style="width: 600px; margin-bottom: 5%;">
                <div class="card card-block w-auto display-block border-dark mb-3">
                    <div class="card-header"><h3>{{image.photoPoster}}</h3></div>
                    <img class="card-img" src="/images/{{image.filepath}}" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text" style="margin-left: 5%; margin-top: 3%; font-family: Trebuchet MS, sans-serif; font-size: 125%; ">{{image.caption}}</p>
                    </div>
                    <div class="card-text text-right" style="margin-right: 5%; margin-bottom: 2%; font-family: Trebuchet MS, sans-serif; font-size: 100%;"><i>{{image.postingdate}}</i></div>
                    <div class="card-group">
                        <div class="card">
                            <div class="card-body">
                                <form action="/commentPhoto"></form>
                                <input type="text" class="form-control" name="comment" id="caption" placeholder="Comment">
                            </br>
                                <input type="submit" class="btn btn-secondary" value="Comment" style="margin-left:25%; margin-right: 10%;">
                                
                                <!-- Additional Info Button -->
                                <input type="button" class="btn btn-secondary" value="Additonal Info" onclick="relocate_addInfo( {{image.photoID}} )">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
    </html>
    