<!DOCTYPE html>
<html>
    <head>
        <title>Viewing Additional Info</title>
        {% include "header.html" %}
    </head>
    <body>
        <div class="mx-auto" style="width: 750px; margin-top: 30px">
            <h1>Viewing {{image.photoPoster}}'s photo</h1>
            {% include "navbar.html" %}
            <div class="container" style="width: 600px; margin: 0 auto;">
                <div class="card card-block w-auto display-block border-dark mb-3">
                    <div class="card-header"><h3>{{image.photoPoster}}</h3></div>
                    <img class="card-img" src="/images/{{image.photoPath}}" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text" style="margin-left: 3%;">{{image.caption}}</p>
                    </div>
                    <div class="card-text text-right" style="margin-right: 5%;">{{image.postingdate}}</div>
                    <div class="card-group">
                        <div class="card">
                            <div class="card-body">
                                <form action="/commentPhoto"></form>
                                <input type="text" class="form-control" name="comment" id="caption" placeholder="Comment">
                            </br>
                                <input type="submit" class="btn btn-secondary" value="Comment" style="margin-left:25%; margin-right: 10%;">
                                
                                <!-- Additional Info Button -->
                                <input type="button" class="btn btn-secondary" value="Additonal Info" onclick="relocate_addInfo( {{image.photoID}} )">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </body>
     {% include "footer.html" %}
</html>