<!DOCTYPE html>
<html>
    <head>
        <title>Viewing Additional Info</title>
        {% include "header.html" %}
    </head>
    <body>
        <div class="mx-auto" style="width: 900px; margin-top: 30px">
            <h1>Viewing {{image.photoPoster}}'s photo</h1>
            {% include "navbar.html" %}
            <div class="container" style="width: 600px; margin: 0 auto;">
                <div class="card card-block w-auto display-block border-dark mb-3">
                    <div class="card-header"><h3>{{image.photoPoster}}</h3></div>
                    <img class="card-img" src="/images/{{image.filepath}}" alt="Card image cap">
                    <div class="card-block" style="font-family: Trebuchet MS, sans-serif; font-size: 125%; text-align: left; margin-left: 5%; margin-top:2%;">
                        <p>Name: {{person.firstName}} {{person.lastName}}</p>
                        <p>Timestamp: {{image.postingdate}}</p>
                        <p>Caption: {{image.caption}}</p>
                    </div>
                </div>
            </div>
            <div class="container" style="width: 750px; margin: 0 auto; margin-top: 5%;">
                <div class="card-group">
                    <div class="card card-block w-auto display-block border-dark mb-3" style="text-align: center;">
                        <div class="card-header" style="text-align: center;"><h5>Likes</h5></div>
                        <div class="card-body">
                            {% for like in likes %}
                            <p>{{like.username}}: {{like.rating}}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card card-block w-auto display-block border-dark mb-3" style="text-align: center;">
                        <div class="card-header" style="text-align: center;"><h5>Comments</h5></div>
                        <div class="card-body">
                            {% for comment in comments %}
                            <p><i>{{comment.username}}: </i>{{comment.commentStr}}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card card-block w-auto display-block border-dark mb-3" style="text-align: center;">
                        <div class="card-header" style="text-align: center;"><h5>Tags</h5></div>
                        <div class="card-body">
                            {% for tag in tagged %}
                            <p>{{tag.username}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
     </body>
     {% include "footer.html" %}
</html>